{% extends "base.html" %}

{% block title %}Resume Analyzer{% endblock title %}

{% block body %}

<style>
    .model-select-container {
        margin-left: auto; /* Pushes the select box to the right */
    }
    .container-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .button-group {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: left;
    }
    .mt-1 {
        margin-top: 0.25rem;
    }
    .mt-3 {
        margin-top: 1rem;
    }
    .markdown-display {
        background-color: #212529;
        color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        overflow-wrap: break-word;
        display: none; /* Initially hide the markdown display */
    }
</style>

<section class="body-font">
    <div style="background-color: #404040;" class="container mx-auto px-8 py-8 mt-10 mb-10 rounded-lg">
        <div class="container-flex">
            <h1 class="title-font text-4xl font-medium text-white">Resume Analyzer</h1>
            <div class="model-select-container">
                <div class="dropdown dropdown-end">
                    <button id="modelDropdown" tabindex="0" style="font-size: medium;" class="btn btn-ghost rounded-btn font-semibold" onclick="toggleDropdown()">Select Model</button>
                    <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-4 w-52 p-2 shadow hidden" id="modelDropdownOptions">
                        <li><button style="font-weight: 700;" title="LLama3 for faster response, but may mess-up" onclick="selectModel('llama')">LLama3</button></li>
                        <li><button style="font-weight: 700;" title="Gemini for detailed response (but it's slow)" onclick="selectModel('genai')">Gemini</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <p class="text-white">Choose a <span style="color: aquamarine; font-weight: bold;">PDF/DOCX</span> File only:</p>
        </div>
        <!-- Select File -->
        <div class="container-flex mt-1">
            <input id="resume" type="file" style="background-color: #212529;" class="file-input w-full md:w-1/2 max-w-auto"/>
        </div>
        <!-- Input Job Description -->
        <div class="container-flex mt-4">
            <textarea id="jobDescription" style="background-color: #212529; font-weight: 600; font-size: medium;" class="textarea textarea-bordered w-full focus:ring-2 focus:ring-emerald-300 outline-none py-1 px-3 leading-8 transition-all duration-200 ease-in-out" placeholder="Input your Job-Description here"></textarea>
        </div>
        
        <!-- Button Group -->
        <div class="mt-3 button-group">
            <button style="color: aquamarine;" class="btn btn" onclick="compareResume()">Compare</button>
            <button style="color: aquamarine;" class="btn btn" onclick="reviewResume()">Review Resume</button>
            <button style="color: aquamarine;" class="btn btn" onclick="viewResumeContent()">View Resume Content</button>
            <button id="copyButton" style="color: aquamarine; display: none;" class="btn btn" onclick="copyToClipboard()">Copy to Clipboard</button>
        </div>
        <div id="reviewMarkdown" class="markdown-display"></div>
        <div style="color: #ffcc00; font-weight: bold;" id="showError" class="markdown-display"></div>
    </div>
</section>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<!-- Showdown JS -->
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>


<script>
    function toggleDropdown() {
        const dropdownContent = document.getElementById('modelDropdownOptions');
        dropdownContent.classList.toggle('hidden');
    }

    function selectModel(model) {
        // Close dropdown when model is selected
        toggleDropdown(); 

        const modelDropdownButton = document.getElementById('modelDropdown');
        if (model === 'llama') {
            modelDropdownButton.textContent = 'Selected Model: LLama3';
            modelDropdownButton.dataset.model = 'llama';
        } else if (model === 'genai') {
            modelDropdownButton.textContent = 'Selected Model: Gemini';
            modelDropdownButton.dataset.model = 'genai';
        }
        console.log('Selected model:', modelDropdownButton.dataset.model);
    }

    function compareResume() {
        // Implement your logic for comparing resumes here
    }

    function reviewResume() {
        const selectedModel = document.getElementById('modelDropdown').dataset.model;
        const resumeFile = document.getElementById('resume').files[0];

        if (!selectedModel && !resumeFile) {
        const errorMessage = "You can't do jack without both the Model and the friggin' Resume! Got it? Now, Select the Model and Upload the Resume.";
        displayErrorMessage(errorMessage);
            return;
        } else if (!selectedModel) {
        const errorMessage = 'Pick a Model already if you wanna move forward';
        displayErrorMessage(errorMessage);
            return;
        } else if (!resumeFile) {
        const errorMessage = 'Drop in a Resume to keep things rolling.';
        displayErrorMessage(errorMessage);
            return;
        }

        // Reset error message display
        document.getElementById('showError').style.display = 'none';
        document.getElementById('showError').innerHTML = '';

        const formData = new FormData();
        formData.append('selected_model', selectedModel);
        formData.append('resume', resumeFile);

        // Fetch CSRF token from the cookie
        const csrftoken = getCookie('csrftoken');
        fetch('{% url "review" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrftoken // Include CSRF token in headers
            },
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json(); // Handle plain json response  OR // return response.text(); // Handle plain text response
        })
        // .then(review => {
        //     // Convert plain text to markdown
        //     const converter = new showdown.Converter();
        //     const html = converter.makeHtml(review);
        //     // Display the HTML content
        //     displayMarkdownReview(html);
        //     document.getElementById('copyButton').style.display = 'inline-block';
        //     document.getElementById('reviewMarkdown').style.display = 'block';
        // })
        .then(data => {
            if (data.review) {
            // Convert plain text to markdown
            const converter = new showdown.Converter();
            const html = converter.makeHtml(data.review);
            // Display the HTML content
            // $('#reviewMarkdown').html(html);
            displayMarkdownReview(html);
    
            document.getElementById('copyButton').style.display = 'inline-block';
            document.getElementById('reviewMarkdown').style.display = 'block';    
            }  else if (data.error) {
            console.error('Error:', data.error);
        }
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle error display or logging
        });
    }

    function viewResumeContent() {
        // Implement your logic for viewing resume content here
    }

    function copyToClipboard() {
        // Implement your logic for copying content to clipboard here
    }

    function displayMarkdownReview(htmlContent) {
    const reviewMarkdownDiv = document.getElementById('reviewMarkdown');
    if (reviewMarkdownDiv) {
        reviewMarkdownDiv.innerHTML = htmlContent; 
    } else {
        console.warn('Review markdown display area not found.');
    }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (const cookie of cookies) {
                const trimmedCookie = cookie.trim();
                if (trimmedCookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(trimmedCookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function displayErrorMessage(message) {
        // Display error message in the error display area
        document.getElementById('showError').innerHTML = `<p>${message}</p>`;
        document.getElementById('showError').style.display = 'block';
    }
</script>

{% endblock body %}