{% extends "base.html" %}

{% block title %}Machine Learning Projects{% endblock title %}

{% block body %}

<section class="body-font">
    <div class="container px-5 pt-16 pb-16 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="flex flex-col text-center w-full mb-6">
          <p style="color: white; margin-top: 5px;" class="lg:w-2/3 mx-auto leading-relaxed text-base"><span style="color: #ffcc00; font-weight: 600;">These projects are interactive yet,</span> but go ahead and poke around the repositories. Maybe someday, if I stumble upon a better idea, I'll slap a functioning project on this site. Until then, enjoy the peek!</p>
        </div>
        <div class="p-4 lg:w-1/3">
          <div style="background-color: #404040;" class="h-full bg-opacity-75 px-8 pt-12 pb-8 rounded-lg overflow-hidden text-center relative">
            <h2 style="font-weight: 600;" class="tracking-widest text-md title-font text-emerald-300 mb-2">Classification</h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-slate-50 mb-3">Customer Churn Analysis</h1>
            <p class="leading-relaxed mb-0">My first machine learning project—well, not exactly the first, but the one where I started taking data science seriously. It focused on predicting who’s going to churn and who’s not.</p>
            <a href="https://github.com/fudge-fantastic/Machine-Learning/tree/main/Classification/Customer_Churn" target="_blank"  class="text-emerald-300 inline-flex items-center text-md font-semibold mt-8">Source Code
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>


        <div class="p-4 lg:w-1/3">
            <div style="background-color: #404040;" class="h-full bg-opacity-75 px-8 pt-12 pb-8 rounded-lg overflow-hidden text-center relative">
              <h2 style="font-weight: 600;" class="tracking-widest text-md title-font text-emerald-300 mb-2">Classification</h2>
              <h1 class="title-font sm:text-2xl text-xl font-medium text-slate-50 mb-3">Credit Risk Assessment</h1>
              <p class="leading-relaxed mb-0">Aim was to build a predictive model to assess the credit risk associated with customers applying for loans. Ultimately making informed decisions during the credit approval process.
                </p>
              <a href="https://github.com/fudge-fantastic/Machine-Learning/tree/main/Classification/Default_On_Payment" target="_blank"  class="text-emerald-300 inline-flex items-center text-md font-semibold mt-8">Source Code
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
        </div>


        <div class="p-4 lg:w-1/3">
            <div style="background-color: #404040;" class="h-full bg-opacity-75 px-8 pt-12 pb-8 rounded-lg overflow-hidden text-center relative">
              <h2 style="font-weight: 600;" class="tracking-widest text-md title-font text-emerald-300 mb-2">Classification</h2>
              <h1 class="title-font sm:text-2xl text-xl font-medium text-slate-50 mb-3">Diabetes Prediction</h1>
              <p class="leading-relaxed mb-0">A predictive model to determine if someone's headed for diabetes based on specific characteristics. It’s like a crystal ball for your pancreas, minus the mystic mumbo jumbo.</p>
              <a href="https://github.com/fudge-fantastic/Machine-Learning/tree/main/Classification/Diabetes_Prediction" target="_blank"  class="text-emerald-300 inline-flex items-center text-md font-semibold mt-8">Source Code
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
      </div>



      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/3">
          <div style="background-color: #404040;" class="h-full bg-opacity-75 px-8 pt-12 pb-8 rounded-lg overflow-hidden text-center relative">
            <h2 style="font-weight: 600;" class="tracking-widest text-md title-font text-emerald-300 mb-2">Classification</h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-slate-50 mb-3">Discount Dilemma: Predict Customer Offers</h1>
            <p class="leading-relaxed mb-0">Created a model to guess if a customer will score a discount based on their age, gender, cash stash, and other personal details from the dataset.</p>
            <a href="https://github.com/fudge-fantastic/Machine-Learning/tree/main/Classification/Discount_Offering" target="_blank"  class="text-emerald-300 inline-flex items-center text-md font-semibold mt-8">Source Code
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>


        <div class="p-4 lg:w-1/3">
            <div style="background-color: #404040;" class="h-full bg-opacity-75 px-8 pt-12 pb-8 rounded-lg overflow-hidden text-center relative">
              <h2 style="font-weight: 600;" class="tracking-widest text-md title-font text-emerald-300 mb-2">Classification</h2>
              <h1 class="title-font sm:text-2xl text-xl font-medium text-slate-50 mb-3">Fraud Detection</h1>
              <p class="leading-relaxed mb-0">One of my most time-consuming projects, used some badass, under-the-radar libraries to sniff out those hidden patterns. Do check it out, had a blast digging into it!
                </p>
              <a href="https://github.com/fudge-fantastic/Capstones/tree/main/Fraud-Detection" target="_blank"  class="text-emerald-300 inline-flex items-center text-md font-semibold mt-8">Source Code
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
        </div>


        <div class="p-4 lg:w-1/3">
            <div style="background-color: #404040;" class="h-full bg-opacity-75 px-8 pt-12 pb-8 rounded-lg overflow-hidden text-center relative">
              <h2 style="font-weight: 600;" class="tracking-widest text-md title-font text-emerald-300 mb-2">Classification</h2>
              <h1 class="title-font sm:text-2xl text-xl font-medium text-slate-50 mb-3">Predict Salary</h1>
              <p class="leading-relaxed mb-0">Goal is to classify incomes into two groups: <=50K and >50K, by building a precise and effective machine learning model that predicts income levels based on given features.</p>
              <a href="https://github.com/fudge-fantastic/Machine-Learning/tree/main/Classification/Predict_Salary" target="_blank"  class="text-emerald-300 inline-flex items-center text-md font-semibold mt-8">Source Code
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>

          <div class="p-4 lg:w-1/3">
            <div style="background-color: #404040;" class="h-full bg-opacity-75 px-8 pt-12 pb-8 rounded-lg overflow-hidden text-center relative">
              <h2 style="font-weight: 600;" class="tracking-widest text-md title-font text-emerald-300 mb-2">Regression</h2>
              <h1 class="title-font sm:text-2xl text-xl font-medium text-slate-50 mb-3">House Rent Prediction (India)</h1>
              <p class="leading-relaxed mb-0">Figuring out how much to charge people for rent using fancy math with a Bunch of info about houses and how much are people willing to pay.</p>
              <a href="https://github.com/fudge-fantastic/Machine-Learning/tree/main/Regression/House_Rent_Prediction" target="_blank"  class="text-emerald-300 inline-flex items-center text-md font-semibold mt-8">Source Code
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
  
  
          <div class="p-4 lg:w-1/3">
              <div style="background-color: #404040;" class="h-full bg-opacity-75 px-8 pt-12 pb-8 rounded-lg overflow-hidden text-center relative">
                <h2 style="font-weight: 600;" class="tracking-widest text-md title-font text-emerald-300 mb-2">Regression</h2>
                <h1 class="title-font sm:text-2xl text-xl font-medium text-slate-50 mb-3">Loan Interest Prediction</h1>
                <p class="leading-relaxed mb-0">Predicting loan approvals. All about crunching numbers and uncovering hidden patterns from financial, demographic, and credit-related data to forecast who gets the green light.
                  </p>
                <a href="https://github.com/fudge-fantastic/Machine-Learning/tree/main/Regression/Loan_Interest_Prediction" target="_blank"  class="text-emerald-300 inline-flex items-center text-md font-semibold mt-8">Source Code
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
          </div>
  
  
          <div class="p-4 lg:w-1/3">
              <div style="background-color: #404040;" class="h-full bg-opacity-75 px-8 pt-12 pb-8 rounded-lg overflow-hidden text-center relative">
                <h2 style="font-weight: 600;" class="tracking-widest text-md title-font text-emerald-300 mb-2">To Be Declared</h2>
                <h1 class="title-font sm:text-2xl text-xl font-medium text-slate-50 mb-3">⚠️Work in Progress⚠️</h1>
                <p class="leading-relaxed mb-0">Signing off for now, folks! Cooking up some 'cool' projects and planning to make them interactive soon—where you can punch in your own data and see the magic happen.</p>
                <a class="text-emerald-300 inline-flex items-center text-md font-semibold mt-8">Stay Tuned!</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}