{% extends "base.html" %}

{% block title %}About me!{% endblock title %}


{% block body %}

<style>
    h2 {
        color: white;
    }
</style>

<section class="body-font mt-0">
    <div class="container-2xl px-0 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <h3 style="color: aquamarine;font-weight: 500; font-size: medium;" class="mb-1">Who am I? What am I? Why am I?</h3>
        <p style="text-align:center; color: white;" class="leading-relaxed text-lg ">"Greetings! I'm Aaditya, a passionate tech enthusiast focusing on AI/ML and creating optimized solutions using MLOps. I'm proficient in Python and SQL for data wrangling and analysis, with a working knowledge of C++ and Java for broader programming needs. Additionally, I have hands-on experience with Amazon Web Services (AWS)"</p>
        <span class="inline-block h-1 w-10 rounded bg-emerald-400 mt-8 mb-6"></span>
        <h2 class="font-medium title-font tracking-wider text-sm">AADITYA PANDAGLE</h2>
        <p style="color: white;">Data Science | MLOps | AI/DL & Machine Learning</p>
      </div>
    </div>
</section>

{% endblock body %}