{% extends "base.html" %}

{% block title %}Connect me :){% endblock title %}


{% block body %}

<!-- Introduction 1 -->
<style>
  h2 {
      color: white;
  }

  #animation-container {
      width: 200px; 
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; 
  }
</style>

<section class="body-font">
    <div class="container px-5 pt-12 mx-auto">
      <div class="flex flex-col text-center w-full mb-16">
        <h2 style="color: aquamarine;font-weight: 500;" class="mb-1">IF we do it now, we'll never run out of time</h2>
        <h1 style="color: rgb(253, 253, 253); font-size:40px; font-weight:500;">Welcome to the Home Page!</h1>
        <p style="color: white; margin-top: 10px;" class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
      </div>
    </div>
</section>

<!-- Animation Section -->
<section id="animation-container"></section>

<!-- Links Section -->
<section style="color: white" class="body-font">
    <div class="container px-5 pt-20 pb-20 mx-auto">
      <div class="flex flex-col text-center w-full mb-8">
        <h3 style="color: #7fffd4;font-weight: 500; font-size: large;" class="mb-1">Explore my Misery</h3>
        <h1 style="font-size: xx-large; color: white;" class="font-medium title-font">You can find me on these platforms!</h1>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-neutral-700 p-8 flex-col">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-neutral-700 text-white flex-shrink-0">
                <img src="../static/github-mark_aqmarine.svg", alt="github icon">
              </div>
              <h2 class="text-lg title-font font-medium">Github</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Graveyard of half-baked ideas and unfinished projects. It’s like an art gallery, but instead of masterpieces, it’s filled with my code that’s crying out for mercy.</p>
              <a style="color: aquamarine; font-weight:500;" class="mt-3 inline-flex items-center" href="https://github.com/fudge-fantastic" target="_blank">Explore repository of regrets!!
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-neutral-700 p-8 flex-col">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-neutral-700 text-white flex-shrink-0">
                <img src="../static/leetcode.svg", alt="leetcode icon">
              </div>
              <h2 class="text-lg title-font font-medium">LeetCode</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Collection of tragic tales where algorithms laugh in my face. If you ever need a confidence boost, just browse through my attempts. You'll feel like a programming prodigy in no time.</p>
              <a style="color: aquamarine; font-weight:500;" class="mt-3 inline-flex items-center" href="https://leetcode.com/u/fudge_fantastic/" target="_blank">Witness the spectacle here!
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-neutral-700 p-8 flex-col">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-neutral-700 text-white flex-shrink-0">
                <img src="../static/hackerrank_aqmarine.svg", alt="hackerrank icon">
              </div>
              <h2 class="text-lg title-font font-medium">HackerRank</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Abandoned this poor soul after snagging a handful of certificates. Pour one out for the fallen soldier. F in the chat, respect to the memories of those coding challenges left untouched.</p>
              <a style="color: #7fffd4; font-weight:500;" class="mt-3 inline-flex items-center" href="https://www.hackerrank.com/profile/adi_pandagle" target="_blank">F in the chat
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
            <div class="flex rounded-lg h-full bg-neutral-700 p-8 flex-col">
              <div class="flex items-center mb-3">
                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-neutral-700 text-white flex-shrink-0">
                  <img src="../static/linkedin.svg", alt="linkedin icon">
                </div>
                <h2 class="text-lg title-font font-medium">LinkedIn</h2>
              </div>
              <div class="flex-grow">
                <p class="leading-relaxed text-base">Behold my profile, a testament to unparalleled qualifications and meticulously refined expertise, exquisitely polished by the divine hands of the gods themselves.</p>
                <a style="color: #7fffd4; font-weight:500;" class="mt-4 inline-flex items-center" href="https://www.linkedin.com/in/aaditya-pandagle-0aa748238/" target="_blank">No Bussin, check out!
                </a>
              </div>
            </div>
        </div>
        <div class="p-4 md:w-1/3">
            <div class="flex rounded-lg h-full bg-neutral-700 p-8 flex-col">
              <div class="flex items-center mb-3">
                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-neutral-700 text-white flex-shrink-0">
                  <img src="../static/instagram.svg", alt="hackerrank icon">
                </div>
                <h2 class="text-lg title-font font-medium">Instagram</h2>
              </div>
              <div class="flex-grow">
                <p class="leading-relaxed text-base"> A perpetual middle school popularity contest, where dorks send never-ending supply of brainrot reels mostly at 3 FREAKING AM *continues scrolling reels</p>
                <a style="color: #7fffd4; font-weight:500;" class="mt-4 inline-flex items-center" href="https://www.instagram.com/fudge_fantastic/" target="_blank">FOLLOWWWwww
                </a>
              </div>
            </div>
        </div>
        <div class="p-4 md:w-1/3">
            <div class="flex rounded-lg h-full bg-neutral-700 p-8 flex-col">
              <div class="flex items-center mb-3">
                <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-neutral-700 text-white flex-shrink-0">
                  <img src="../static/chess.svg", alt="hackerrank icon">
                </div>
                <h2 class="text-lg title-font font-medium">Chess? wtf?</h2>
              </div>
              <div class="flex-grow">
                <p class="leading-relaxed text-base">IDK dude, maybe I can fascinate you with my pawn collection...or..or...by teaching you the mating positions.</p>
                <a style="color: #7fffd4; font-weight:500;" class="mt-5 inline-flex items-center" href="https://www.chess.com/member/scorpo15" target="_blank">Join!!
                </a>
              </div>
            </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-neutral-700 p-8 flex-col">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-neutral-700 text-white flex-shrink-0">
                <img src="../static/spotify.svg", alt="spotify icon">
              </div>
              <h2 class="text-lg title-font font-medium">Spotify</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Though my autobiography's still a work in progress, let's swap playlists and vibe together. Who knows, we might discover our shared love for disco and questionable karaoke choices!</p>
              <a style="color: aquamarine; font-weight:500;" class="mt-3 inline-flex items-center" href="https://open.spotify.com/user/ih50xzwm6ho1jpcbnbrwm880r?si=b7ca337581da4c96" target="_blank">Let's fking vibe!
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-neutral-700 p-8 flex-col">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-neutral-700 text-white flex-shrink-0">
                <img src="../static/kaggle-svgrepo-com.svg", alt="kaggle icon">
              </div>
              <h2 class="text-lg title-font font-medium">Kaggle</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Not much to see here—I pop in occasionally, mainly to swipe the best solutions for my problems. Just showing up to impress the recruiters (or probably not), you know?</p>
              <a style="color: aquamarine; font-weight:500;" class="mt-3 inline-flex items-center" href="https://www.kaggle.com/darklord176" target="_blank">Uh oh!
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="flex rounded-lg h-full bg-neutral-700 p-8 flex-col">
            <div class="flex items-center mb-3">
              <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-neutral-700 text-white flex-shrink-0">
                <img src="../static/duolingo-svgrepo-com.svg", alt="hackerrank icon">
              </div>
              <h2 class="text-lg title-font font-medium">Duolingo</h2>
            </div>
            <div class="flex-grow">
              <p class="leading-relaxed text-base">Just me and an owl grinding away at Japanese and German. Not much, but it's an honest day's effort! BTW Entschlüssele das baka! HAHAHA</p>
              <a style="color: #7fffd4; font-weight:500;" class="mt-4 inline-flex items-center" href="https://www.duolingo.com/profile/fudge_fantastic" target="_blank">Hoot Hoot 
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.7/lottie.min.js"></script>
<script>
      document.addEventListener('DOMContentLoaded', function () {
          var animationContainer = document.getElementById('animation-container');

          bodymovin.loadAnimation({
              container: animationContainer,
              renderer: 'svg',
              loop: true, 
              autoplay: true, 
              path: '../static/cat_animation.json' 
          });
      });

</script>

{% endblock body %}

<!-- Contact me left and add more links-->