{% extends "base.html" %}

{% block title %}Bluesalt{% endblock title %}

{% block body %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-0 mx-auto flex flex-wrap items-center">
      <!-- Left Column: Content -->
      <div class="lg:w-1/2 w-full mb-10 lg:mb-0">
          <div class="flex flex-col text-center w-full mb-20">
              <h2 style="color: aquamarine;font-weight: 500;" class="mb-1">What the fuck is Oatmeal?</h2>
              <h1 style="color: rgb(253, 253, 253); font-size:45px; font-weight:500;">Welcome to the Home Page!</h1>
              <p style="color: white; margin-top: 10px;" class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
          </div>
      </div>
      <!-- Right Column: Animated SVG -->
      <div class="lg:w-1/2 w-full">
          <div id="animation-container" class="mx-auto lg:ml-10" style="transform: scaleX(-1);"></div>
      </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.7/lottie.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var animationContainer = document.getElementById('animation-container');

      bodymovin.loadAnimation({
          container: animationContainer,
          renderer: 'svg',
          loop: true,
          autoplay: true,
          path: '../static/bird_animation.json' // Replace with the path to your animated SVG file
      });
  });
</script>

<section class="body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 style="color: rgb(253, 253, 253); font-size:30px; font-weight:500;">Special Thanks to these artists!</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine, ramps microdosing banh mi pug.</p>
    </div>
    <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
      <div class="p-2 sm:w-1/2 w-full">
        <a href="artist1.html" class="block bg-neutral-700 rounded flex p-4 h-full items-center hover:bg-emerald-300 hover:text-gray-800 transition duration-300 ease-in-out">
          <span class="title-font font-medium font-bold">Authentic Cliche Forage</span>
        </a>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <a href="https://www.behance.net/hasanrabby" target="_blank" class="block bg-neutral-700 rounded flex p-4 h-full items-center hover:bg-emerald-300 hover:text-gray-800 transition duration-300 ease-in-out">
          <span class="title-font font-medium font-bold">Fazle Hossain</span>
        </a>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <a href="artist3.html" class="block bg-neutral-700 rounded flex p-4 h-full items-center hover:bg-emerald-300 hover:text-gray-800 transition duration-300 ease-in-out">
          <span class="title-font font-medium font-bold">Coloring Book Ethical</span>
        </a>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <a href="artist4.html" class="block bg-neutral-700 rounded flex p-4 h-full items-center hover:bg-emerald-300 hover:text-gray-800 transition duration-300 ease-in-out">
          <span class="title-font font-medium font-bold">Typewriter Polaroid Cray</span>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock body %}