{% extends "base.html" %}

{% block title %}Bluesalt{% endblock title %}

{% block body %}

<section class="body-font">
  <div class="container px-10 py-0 mx-auto flex flex-wrap items-center">
      <!-- Left Column: Content -->
      <div class="lg:w-1/2 w-full mb-10 lg:mb-0">
          <div class="flex flex-col text-center w-full mb-20">
              <h2 style="color: aquamarine;font-weight: 500;" class="mb-1 text-left">What the fuck is Oatmeal?</h2>
              <h1 style="color: rgb(253, 253, 253); font-size:44px; font-weight:500;" class="text-left">Welcome to the Home Page!</h1>
              <p style="color: white; margin-top: 10px;" class="text-left">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
          </div>
      </div>
      <!-- Right Column: Animated SVG -->
      <div class="lg:w-1/2 w-full">
          <div id="animation-container" class="mx-auto lg:ml-10" style="transform: scaleX(-1);"></div>
      </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.7/lottie.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var animationContainer = document.getElementById('animation-container');

      bodymovin.loadAnimation({
          container: animationContainer,
          renderer: 'svg',
          loop: true,
          autoplay: true,
          path: '../static/bird_animation.json' // Replace with the path to your animated SVG file
      });
  });
</script>

{% endblock body %}