{% extends "base.html" %}

{% block title %}Projects{% endblock title %}

{% block body %}

<style>
.btns {
  background-color: aquamarine;
  color: #212529;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  display: inline-block;
  font-size: medium;
  border-radius: 8px;
}

.btns:hover {
  background-color: #38ffbc;
  color: #212529;
}

</style>

<section class="body-font">
  <div class="container px-5 pt-12 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
          <h1 style="color: rgb(253, 253, 253); font-size:28px; font-weight:500;">Welcome to the Projects Page!</h1>
          <p style="color: white; margin-top: 5px;" class="lg:w-2/3 mx-auto leading-relaxed text-base">Explore the collection of data science projects I've developed and worked on.</p>
      </div>
  </div>

  <div class="container px-5 pt-0 pb-40 mx-auto">
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
          <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
              <div class="rounded-lg h-64 overflow-hidden" id="animation-container-ml">
                  <!-- Lottie animation will be loaded here -->
              </div>
              <h2 class="text-center text-xl font-medium title-font text-slate-50 mt-3">Machine Learning</h2>
              <p class="text-center leading-relaxed mt-2">Swag shoivdigoitch literally meditation subway tile tumblr cold-pressed. Gastropub street art beard dreamcatcher neutra, ethical XOXO lumbersexual.</p>
              <div class="text-center mt-4">
                  <!-- <a href="{% url 'machine_learning' %}" class="btns">View Projects</a> -->
                  <a class="btns">View Projects (WIP)</a>
              </div>
          </div>
          <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
              <div class="rounded-lg h-64 overflow-hidden" id="animation-container-dl">
                  <!-- Lottie animation will be loaded here -->
              </div>
              <h2 class="text-center text-xl font-medium title-font text-slate-50 mt-3">Deep Learning</h2>
              <p class="text-center leading-relaxed mt-2">Swag shoivdigoitch literally meditation subway tile tumblr cold-pressed. Gastropub street art beard dreamcatcher neutra, ethical XOXO lumbersexual.</p>
              <div class="text-center mt-4">
                  <!-- <a href="{% url 'deep_learning' %}" class="btns">View Projects</a> -->
                  <a class="btns">View Projects (WIP)</a>
              </div>
          </div>
          <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
              <div class="rounded-lg h-64 overflow-hidden" id="animation-container-ai">
                  <!-- Lottie animation will be loaded here -->
              </div>
              <h2 class="text-center text-xl font-medium title-font text-slate-50 mt-3">Generative AI</h2>
              <p class="text-center leading-relaxed mt-2">Swag shoivdigoitch literally meditation subway tile tumblr cold-pressed. Gastropub street art beard dreamcatcher neutra, ethical XOXO lumbersexual.</p>
              <div class="text-center mt-4">
                  <a href="{% url 'generative_ai' %}" class="btns">View Projects</a>
              </div>
          </div>
      </div>
  </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.7/lottie.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      function loadAnimation(containerId, path) {
          bodymovin.loadAnimation({
              container: document.getElementById(containerId),
              renderer: 'svg',
              loop: true,
              autoplay: true,
              path: path
          });
      }

      loadAnimation('animation-container-ml', '../static/machine_learning.json'); // Replace with the path to your ML animation JSON file
      loadAnimation('animation-container-dl', '../static/deep_learning.json'); // Replace with the path to your DL animation JSON file
      loadAnimation('animation-container-ai', '../static/generative_ai.json'); // Replace with the path to your AI animation JSON file
  });
</script>

{% endblock body %}
