{% extends "base.html" %}

{% block title %}Message Sent!{% endblock title %}

{% block body %}

<section class="body-font relative">
    <div class="container px-5 pt-10 pb-14 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 style="font-size: 2rem; color: white;" class="font-medium title-font">Thank You!</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-white">Your message has been sent successfully. We will get back to you soon.</p>
      </div>
    </div>
</section>

{% endblock body %}