{% extends "base.html" %}

{% block title %}Thank you! :){% endblock title %}

{% block body %}

<!-- Section 3 -->
<section class="body-font">
    <div class="container flex flex-wrap px-5 pt-20 pb-24 mx-auto items-center">
      <div class="md:w-1/2 md:pr-12 md:py-8 md:border-r md:border-b-0 mb-10 md:mb-0 pb-10 border-b border-gray-200">
        <h1 class="title-font sm:text-4xl text-3xl mb-3 font-medium text-left">Special<span style="color: aquamarine;"> Thanks </span>to these people</h1>
        <p class="leading-relaxed text-base">Since we're not swimming in content here, I want to give a huge shoutout to the amazing artists who made this site look so slick. Big thanks to my bro for helping clean up the mess and squash those bugs. And last but definitely not least, a big thank you to all you lovely folks for visiting the site!</p>
      </div>
      <div class="flex flex-col md:w-1/2 md:pl-12">
        <h2 style="color: aquamarine;" class="title-font font-semibold tracking-wider text-2xl mb-3">Artists</h2>
        <ul class="flex flex-wrap list-none -mb-1">
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a class="text-slate-50 hover:text-gray-800 text-lg">Faizan Jiya</a> 
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a class="text-slate-50 hover:text-gray-800 text-lg" href="https://x.com/SepehrRadfar" target="_blank">Sepehr Radfar</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a class="text-slate-50 hover:text-gray-800 text-lg" href="https://animoox.com/" target="_blank">Animoox Studio</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a class="text-slate-50 hover:text-gray-800 text-lg">Musa Ibne sultan</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a class="text-slate-50 hover:text-gray-800 text-lg" href="https://www.linkedin.com/in/engr-arahim/" target="_blank">MD Abdur Rahim</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a class="text-slate-50 hover:text-gray-800 text-lg" href="https://www.linkedin.com/in/gchevassus/" target="_blank">Gaspard Chevassus</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a class="text-slate-50 hover:text-gray-800 text-lg">Ale Duran</a>
          </li>
          <li class="lg:w-1/3 mb-1 w-1/2">
            <a class="text-slate-50 hover:text-gray-800 text-lg">Chase Wells</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  
  <style>
    .hover\:text-gray-800:hover {
      color: #7fffd4;
      font-weight: 600;
    }
  </style>

{% endblock body %}